<p>
  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/home">
      <span class="Title">Examen Parcial</span></button>
      <span class="example-spacer"></span>

      <button mat-button [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu class="matmenuContainer" #menu="matMenu" class="matmenu">
        <button class="matmenutext" routerLink="/espacio" mat-menu-item>Espacios</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
