<p>
  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/home">
      <span class="Title">Task-Manager</span></button>
      <span class="example-spacer"></span>
      
      <div class="col-lg-6" style="text-align: center">
        <button class="buttonAñadir" mat-button color="danger" routerLink="/employee">Tareas</button>
      </div>
      <div class="col-lg-6" style="text-align: center">
        <button class="buttonAñadir" mat-button color="danger" routerLink="/register">Registro</button>
      </div>
      <div class="col-lg-6" style="text-align: center">
        <button class="buttonAñadir" mat-button color="danger" routerLink="/login">Login</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
